*~
/bin
/build
build.*/
*,cover
*.cover*
/dist
dist.*/
**/.DS_Store
*.htmlcov
htmlcov
.idea/
imports_from_set.json
imports_set.json
module-attrs.json
.mypy_cache
*.pyc
__pycache__
/pyglossary.egg-info
*.pyo
.pyre
.*.swp
venv
vulture.*
.dmypy.json
.vscode
