import-analyzer/
.pyre
#.vscode
*~
*.py[oc]
/build
/dist
/bin
/pyglossary.egg-info
/.mypy_cache/
/plugins
/ui
.coverage
*,cover
htmlcov
vulture.*
imports_from_set.json
imports_set.json
module-attrs.json
dist.*/
build.*/
.idea/
**/.DS_Store
