<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>%(CFBundleIdentifier)s</string>
	<key>CFBundleDisplayName</key>
	<string>%(CFBundleDisplayName)s</string>
	<key>CFBundleName</key>
	<string>%(CFBundleName)s</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>%(DCSDictionaryCopyright)s.</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>%(DCSDictionaryManufacturerName)s.</string>
	<key>DCSDictionaryXSL</key>
	<string>%(DCSDictionaryXSL)s</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		%(DCSDictionaryDefaultPrefs)s
	</dict>
	<key>DCSDictionaryPrefsHTML</key>
	<string>%(DCSDictionaryPrefsHTML)s</string>
	%(DCSDictionaryFrontMatterReferenceID)s
</dict>
</plist>